@model IEnumerable<Traits>

<h2>Birds</h2>

<div style="display: block">
    <button onclick="window.location.href='/Traits/InsertBird/';">
        Add a New Bird
    </button>
</div>

<div class="col-1 p-0 justify-content-end">
    <form asp.controller="Bird" asp.action="Index">
        <span class="btn.group">
            <input class="form control" type="text" name="userSearch" placeholder="Name">
            <input class="p-1 m1-2 btn btn-sm btn-info" type="submit" value="Search" />
        </span>

    </form>
</div>

<div class="traitsearch" style="display: block">
        <form asp.controller="Bird" asp.action="Index">
            <span class="btn.group">
                <input class="form control" type="text" name="BrightColor" placeholder="Body Color">
                <input class="form control" type="text" name="AccentColor" placeholder="Accent Color">
                <input class="form control" type="text" name="BackColor" placeholder="Back Color">
                <input class="form control" type="text" name="BellyColor" placeholder="Belly Color">
                <input class="form control" type="text" name="HeadColor" placeholder="Head Color">
                <input class="form control" type="text" name="ChestColor" placeholder="Chest Color">
                <input class="form control" type="text" name="TailColor" placeholder="Tail Color">
                <input class="form control" type="text" name="BeakColor" placeholder="Beak Color">
                <input class="form control" type="text" name="SpottedStriped" placeholder="Spotted or Striped">
                @*<input class="form control" type="text" name="BeakSize" placeholder="Beak Size">*@
                <input class="form control" type="text" name="HeadShape" placeholder="Head Shape">
                <input class="p-1 m1-2 btn btn-sm btn-info" type="submit" value="Search" />
            </span>

        </form>
</div>

<div class="container d-flex flex-wrap">

    @foreach (var bird in @Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@bird.Picture" class="card-img-top" alt="@bird.Name">
            <div class="card-body">
                <h5 class="card-title">@bird.Name</h5>
                <p class="card-text">@bird.LatinName</p>
                <p class="card-text">Length: @bird.Length</p>
                <p class="card-text">Height: @bird.Height</p>
                <p class="card-text">Wingspan: @bird.Wingspan</p>
                <a href="/Traits/ViewBird/@bird.ID" class="btn btn-primary">View</a>
            </div>
        </div>
    }
</div>
    

    <div style="display: block">
        <button onclick="window.location.href='/Traits/InsertBird/';">
            Add a New Bird
        </button>
    </div>
<style>
    body {
        background-image: url("Images/traitsbackground.jpeg");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card {
        background-color: lightyellow;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    input {
        border-radius: 18px;
        border-color: forestgreen;
        color:grey;
        background-color: lightyellow;
        padding: 20px;
        width: 200px;
        height: 35px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    .traitsearch{
        margin-top:15px;
        margin-bottom: 15px;
    }
    .addbird{
        color: lightyellow;
    }
    h2 {
        color: lightyellow;
        font-family: cursive;
        font-size: 50px;
        margin-top: 80px;
    }
    href{
        color: lightyellow;
        background-color:lightgreen;
    }
    .p-1 m1-2 btn btn-sm btn-info {
        border-radius: 18px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        background-color: lightgreen;
    }
    button {
        background-color: darkgreen;
        color: lightyellow;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        border-radius: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>