@model Traits

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateBirdToDatabase", "Traits", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="LatinName" class="control-label">Latin Name</label>
    <input type="text" name="LatinName" class="form-control" value="@Model.LatinName" />

    <label asp-for="Length" class="control-label">Length</label>
    <input type="number" step="0.10" name="Length" class="form-control" value="@Model.Length" />

    <label asp-for="Height" class="control-label">Height</label>
    <input type="number" step="0.10" name="Height" class="form-control" value="@Model.Height" />

    <label asp-for="Wingspan" class="control-label">Wingspan</label>
    <input type="number" step="0.10" name="Wingspan" class="form-control" value="@Model.Wingspan" />

    <input type="submit" value="Update Bird" class="btn btn-primary" />
}
<style>
    body {
        background-image: url("/Images/updatebirdbackground.jpeg");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .control-label {
        color: lightyellow;
    }

    .btn btn-primary {
        color: lightyellow;
    }

    h2 {
        color: lightyellow;
        font-family: cursive;
        font-size: 50px;
        margin-top: 80px;
    }

    input {
        background-color: lightyellow;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
</style>