@model Traits

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latin Name</th>
        <th>Length</th>
        <th>Height</th>
        <th>Wingspan</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.LatinName</td>
        <td>@Model.Length</td>
        <td>@Model.Height</td>
        <td>@Model.Wingspan</td>
    </tr>
</table>
<div style="display: block">
    <a href="/Traits/UpdateBird/@Model.ID">Update this Bird</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteBird", "Traits", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this bird" />
    }
</div>

<div style="display: block">

    @using (Html.BeginForm("InsertChecklistFromTraits", "Traits", "Post"))
    {
        <input type="hidden" asp-for="Name" value="@Model.Name" />
        <input type="hidden" asp-for="LatinName" value="@Model.LatinName" />
        <input type="hidden" asp-for="Length" value="@Model.Length" />
        <input type="hidden" asp-for="Height" value="@Model.Height" />
        <input type="hidden" asp-for="Wingspan" value="@Model.Wingspan" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Add to Checklist" />
    }
</div>