@model Checklist

<h3>@Model.Name Information</h3>

<img id="pic" alt="@Model.Name" src="@Url.Content("~/"+ Model.Picture + "")" />
<ul>
    <li class="birdlist">@Model.LatinName</li>
    <li class="birdlist">Length: @Model.Length</li>
    <li class="birdlist">Height: @Model.Height</li>
    <li class="birdlist">Wingspan: @Model.Wingspan</li>
    <li class="birdlist">Comment: @Model.Comment</li>
</ul>

<div style="display: block">
    <button onclick="window.location.href='/Checklist/UpdateBird/@Model.ID';">
        Update This Bird
    </button>
</div>

<div style="display: block">
    @using (Html.BeginForm("DeleteBird", "Checklist", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input class="button" type="submit" onclick="return confirm('Are you sure?')" value="Delete This Bird" />
    }
</div>





<style>
    body {
        background-image: url("/Images/checklistviewbirdbackground.jpeg");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #pic {
        margin-bottom: 20px;
        width: 500px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    .birdlist {
        color: lightyellow;
        font-size: 30px;
    }
    h3 {
        color: lightyellow;
        font-family: cursive;
        font-size: 50px;
        margin-top: 80px;
    }
    .update {
        color: lightyellow;
    }
    .button {
        background-color: lightgreen;
        border-color: lightyellow;
        color: darkgreen;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 18px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    button {
        background-color: lightgreen;
        border-color: lightyellow;
        color: darkgreen;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        border-radius: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>