@model Checklist

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latin Name</th>
        <th>Length</th>
        <th>Height</th>
        <th>Wingspan</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.LatinName</td>
        <td>@Model.Length</td>
        <td>@Model.Height</td>
        <td>@Model.Wingspan</td>
        <td>@Model.Comment</td>
    </tr>
</table>
<div style="display: block">
    <a href="/Checklist/UpdateBird/@Model.ID">Update this Bird</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteBird", "Checklist", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this bird" />
    }
</div>